@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0);

}

}

@keyframes rotate{

100%{

transform:rotate(360deg);

}

}

@keyframes glow{

0%{

opacity:.5;

}

50%{

opacity:1;

}

100%{

opacity:.5;

}

}