:root{

--bg:#030712;
--bg2:#0F172A;

--card:rgba(255,255,255,.05);

--glass:rgba(255,255,255,.04);

--border:rgba(255,255,255,.08);

--text:#F8FAFC;

--gray:#94A3B8;

--primary:#3B82F6;

--secondary:#8B5CF6;

--success:#10B981;

--radius:26px;

--transition:.35s ease;

--shadow:
0 20px 60px rgba(0,0,0,.35);

}